
{{#each posts as |post|}}

<div class="box">
  <div class="columns is-mobile is-centered is-vcentered">
    <div class="column">
      <span class="title">{{post.title}}</span><br>
      <span class="subtitle">Created By: {{post.user.username}}</span><br>
      <span class="">{{post.description}}</span><br>
    </div>
</div>
</div>

{{/each}}